.well {
  border: 1px solid black;
  width: 50vw;
  height: 90vh;
}

.well-box {
  border: 1px solid black;
  width: 25px;
  height: 25px;
}


.well-row {
  border: 1px solid black;
  width: 25px;
  height: 90vh;
  display:inline-block;
}